.App {
  
}

.text-full-width {
    min-width: 100%;
}

.settings-icon-grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.text-clock {
    font-size: 200px;
}

.text-next-blind {
    font-size: 50px;
}

div.row {
    font-size: 20px;
}

.core-color {
    background-color: #2278b9;
}

.side-bar-color {
    background-color: #0b5187;
}

.all-around-border {
    border-color: white;
    border-style: solid;
}

.left-right-border {
    border-left-color: white;
    border-left-style: solid;
    border-right-color: white;
    border-right-style: solid;
}

.bottom-border {
    border-bottom-color: white;
    border-bottom-style: solid;
}

.top-border {
    border-top-color: white;
    border-top-style: solid;
}